<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link href="style.css">
    <title>Exemplo</title>
</head>
    <body>
        <p>Email Remetente: <span th:text="${remetente}"></span></p>

        <div>
            <p>Assunto: <span th:text="${assunto}"></span></p>
            <p>Mensagem: <span th:text="${mensagem}"></span></p>
            <p>Email destinatario: <span th:text="${email}"></span></p>
 

            <label>Assunto: <input type="text" id="assunto" name="assunto" th:value="${assunto}"></label>
            <label>Mensagem: <textarea id="mensagem" name="mensagem" rows="4" cols="50"></textarea></label>
            <label>Destinatario: <input type="email" name="email" id="email" placeholder="email@email.com"></label>
                
            
        </div>
        
    </body>
</html>
