:root {
  --cor-primaria: #0e233d;
  --cor-secundaria: #13e288;
  --cor-secundaria-hover: #11c074;
  --cor-texto: #fff;
  --cor-gradiente-1: #0e233d;
  --cor-gradiente-2: #13e288;
  --cor-gradiente-3: #fff;
}

html {
  scroll-padding-top: 2rem;
}

body {
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}
.navbar {
  background: var(--cor-primaria);
}

.navbar a{
  color: var(--cor-texto) !important;
}

.navbar-brand img {
  height: 2rem; 
  margin-right: 0.5rem; 
}

.navbar .nav-link {
  position: relative;
  text-decoration: none;
  transition: color 0.5s ease;
  color: var(--cor-texto) !important;
}

.navbar .nav-link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, var(--cor-gradiente-2), transparent);
  background-size: 300% 100%;
  opacity: 0;
  transition: opacity 0.5s;
}

.navbar .nav-link:hover::after {
  opacity: 1;
  animation: animacao 2s linear infinite;
}

@keyframes animacao {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}


header {
  background: linear-gradient(
      var(--cor-gradiente-1), 
      var(--cor-gradiente-2), 
      var(--cor-gradiente-3)
    ), 
    url('contabilidade.jpg') center/cover no-repeat;
  color: var(--cor-texto);
  text-align: center;
  padding: 120px 20px;
}

header h1 {
  font-size: 2.8rem;
  font-weight: 600;
}

header p {
  font-size: 1.2rem;
  margin: 20px 0;
}

.btn-cta {
  background: var(--cor-secundaria);
  color: var(--cor-primaria);
  font-weight: 600;
  border-radius: 30px;
  padding: 12px 30px;
}

.btn-cta:hover {
  background: var(--cor-primaria);
  color: var(--cor-texto);
}

section h2 {
  color: var(--cor-primaria);
  font-weight: 600;
  margin-bottom: 40px;
  text-align: center;
}

.card {
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-8px);
}

footer {
  background: var(--cor-primaria);
  color: var(--cor-texto);
  padding: 40px 20px;
}

.footer-links a {
  color: var(--cor-texto);
  text-decoration: none;
}

.footer-links a:hover {
  text-decoration: underline;
}

.col-md-4 {
  width: 25%;
}

.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: var(--cor-secundaria-hover);
  color: var(--cor-texto);
  padding: 15px;
  border-radius: 50%;
  font-size: 1.5rem;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(0,0,0,0.8);
}
