<!doctype html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <title>E-mail</title>
</head>
<body class="dark">

<div class="remetente-container">
    <button id="toggleTheme" class="theme-button">
        <img th:src="@{/img/sol.svg}" alt="Trocar tema" class="theme-icon" id="themeIcon">
    </button>
    <p>Email Remetente: <span th:text="${remetente}"></span></p>
</div>

<form action="/index" method="post">
    <label>Assunto: <input type="text" id="assunto" name="assunto"></label>
    <label>Mensagem: <textarea id="mensagem" name="mensagem" rows="4" cols="50"></textarea></label>
    <label>Destinatario: <input type="email" name="destinatario" id="destinatario" placeholder="email@email.com"></label>

    <button type="submit" value="enviar" class="enviar">Enviar</button>
</form>

<script th:src="@{/js/tema.js}"></script>

</body>
</html>
